*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1170px;
}

body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

a{
    color: white;
    transition: 0.4s;
}

:root{
    --heading-fs: 30px;
    --subtitle-fs: 15px;
    --menu-fs: 16px;
    --menu-space: 0 20px;
    --btn-padding: 10px 20px;
    --btn-background: #ea001e;
    --btn-radius: 5px;
    --btn-fw: 600;
    --btn-hover: #a50015;
    --background: #010101;
    --muted: #6b7280;
    --para-fs: 15px;
}

#header{
    width: 100%;
    float: left;
    border-bottom: 1px solid;
    background: var(--background);
}

.header-main{
    width: 100%;
    float: left;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-title {
    max-width: 115px;
}

.menu ul li{
    list-style: none;
    font-weight: 500;
    font-size: var(--menu-fs);
    padding: var(--menu-space);
    display: inline-block;
}

.menubar{
    display: none;
    padding: 0;
    background: transparent;
    font-size: 28px;
}

button{
    border: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: var(--btn-fw);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    background: var(--btn-background);
    transition: 0.4s;
}
button:hover{
    background: var(--btn-hover);
}

a:hover{
    color: red;
    text-decoration: none;
}

button a:hover{
    color: white;
}

#banner{
    width: 100%;
    float: left;
    position: relative;
}

.banner-main{
    width: 100%;
    height: 580px;
    float: left;
    background-image: url(../image/back_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    opacity: 0.5;
}

.banner-inner{
    padding: 180px 0;
    text-align: center;
    position: relative;
    z-index: 99;
}

h1{
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
}

.ban-subtitle{
    font-size: 18px;
    color: white;
}

button.ban-btn {
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 30px;
}

button span{
    margin-left: 8px;
}

#about{
    width: 100%;
    float: left;
}

.about-main{
    width: 100%;
    float: left;
    padding: 70px 0;
    text-align: center;
}

.title{
    font-weight: 600;
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 55px 0;
    align-items: center;
}

.about-content{
    text-align: left;
}

.about-content h4{
    margin-bottom: 15px;
    font-weight: 600;
}

.about-content p{
    color: var(--muted);
    font-size: var(--para-fs);
}

.features {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin: 0;
}

.features li {
    background: rgba(13, 110, 253, 0.05);
    padding: 12px;
    border-radius: 10px;
}

.features li strong {
    display: block;
    font-weight: 500;
}

.features li span {
    display: block;
    color: var(--muted);
    font-size: var(--para-fs);
    margin-top: 4px;
}

.about-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.about-img:hover img{
    transform: scale(1.1);
}

#Car{
    width: 100%;
    float: left;
    background: var(--background);
}

.car-main{
    width: 100%;
    float: left;
    padding: 60px 0;
}

.car-main h2{
    margin-bottom: 50px;
}

.main-box{
    width: 33%;
    float: left;
    padding: 0 15px;
}

.main-box-inner{
    width: 100%;
    float: left;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.car-picture {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.car-picture img{
    transition: 0.4s;
}

.main-box-inner:hover img{
    transform: scale(1.1);
}

.car-detail{
    padding: 24px;
    margin-top: 10px;
    background: #373c3f;
}

.about-car {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.about-car h6{
    margin: 0;
}

.price{
    width: 90px;
    padding: 2px 10px;
    text-align: right;
    line-height: 16px;
    background: var(--btn-background);
    position: relative;
}

.price:after{
    position: absolute;
    content: "";
    width: 23px;
    height: 100%;
    background: var(--btn-background);
    top: 0px;
    left: -11px;
    transform: skew(-30deg, 0deg);
}

.price p{
    margin: 0;
    font-weight: 600;
    font-size: 15px;
}

p.reg-price{
    color: black;
    font-size: 13px;
    font-weight: 400 !important;
    text-decoration: line-through;
}

.special {
    width: 200px;
    background: red;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: -66px;
    transform: rotate(-45deg);
}

.special-txt p{
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

#contact{
    width: 100%;
    height: 1000px;
    float: left;
}

.contact-main{
    width: 100%;
    float: left;
    padding: 60px 0;
    position: relative;
}

.map-box{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

.map-box iframe{
    width: 100%;
    height: 100%;
}

.contact-box{
    width: 90%;
    color: white;
    background: black;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -290px;
    box-shadow: 0 0 10px black;
}

.contact-box-inner{
    width: 100%;
    float: left;
}

.box-left{
    width: 50%;
    float: left;
}

.box-left-inner{
    width: 100%;
    float: left;
}

.box-right{
    width: 50%;
    float: left;
}

.box-right-inner{
    width: 100%;
    float: right;
}

.paragraph{
    color: white;
    margin: 35px 0;
    font-size: var(--para-fs);
    max-width: 400px;
    line-height: 25px;
}

.contac-img {
    max-width: 400px;
    border-radius: 2px;
    overflow: hidden;
}

.contac-img img{
    transition: 0.4s;
}

.contac-img:hover img{
    transform: scale(1.1);
}

.address{
    margin: 24px 0;
}

.address li{
    list-style: none;
    padding: 10px 0;
    font-size: 17px;
}

.address li i{
    margin-right: 10px;
    font-size: 22px;
}

.search-box{
    position: relative;
}

.search-box input{
    width: 100%;
    border: none;
    padding: 20px 15px;
}

.search-icon{
    position: absolute;
    right: 15px;
    top: 20px;
}

.search-icon i{
    color: black;
    font-size: 20px;
}

#footer{
    width: 100%;
    float: left;
    padding-top: 70px;
    background: var(--background);
}

.footer-main{
    width: 100%;
    float: left;
    padding-bottom: 45px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

h4.list-title {
    color: white;
    font-size: 20px;
}

ul.list {
    margin-top: 28px;
}

ul.list li {
    list-style: none;
    padding: 6px 0;
    font-size: 15px;
}

.copyright {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.copyright p{
    margin: 0;
    padding: 25px 0;
    color: var(--muted);
}

#decorait{
    width: 100%;
    float: left;
    padding: 50px 0;
}

.dec-main{
    width: 100%;
    float: left;
    position: relative;
}

.dec-menu ul{
    display: flex;
    gap: 40px;
    margin: 0;
    justify-content: center;
}

.dec-menu ul li{
    font-size: 17px;
    list-style: none;
}

.dec-menu ul li a{
    color: black;
}

.dec-dropdown{
    width: 100%;
    float: left;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.dec-colum{
    width: 16%;
    float: left;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    border-right: 2px solid lavender;
}

.dec-colum h6{
    margin: 0;
    color: blue !important;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.dec-colum.picture-box {
    width: 20%;
    height: 267px;
    border: none;
    float: left;
    padding: 0;
    overflow: hidden;
}

.dec-colum.picture-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-drop{
    margin-top: 10px !important;
    display: grid !important;
    gap: 4px !important;
}

.sub-drop li{
    font-size: 13px !important;
}

.sub-drop li a{
    color: green !important;
}


@media screen and (max-width: 767px) {

    .menu{
        display: none;
    }

    .head-button{
        display: none;
    }

    .menu {
        transform: scaleY(0);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        background: white;
        transition: 1s;
        transform-origin: top;
        display: block;
    }

    .menu ul li {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 10px;
    }

    .menu ul li a{
        color: black;
    }

    .showmenu.menu {
        transform: scaleY(1);
    }

    button.menubar {
    background: transparent;
    display: block;
    }

    .banner-main {
        height: 410px;
        background-position: center;
    }

    .banner-inner{
        padding: 75px 0;
    }

    h1{
        font-size: 45px;
    }

    .ban-subtitle{
        font-size: 16px;
    }

    button.ban-btn{
        margin-top: 20px;
    }

    .about-main{
        padding: 40px 0;
    }

    .about-grid{
        margin: 30px 0;
        grid-template-columns: none;
    }

    .about-content p {
        margin: 20px 0;
    }

    .car-main{
        padding: 40px 0;
    }

    .car-main h2 {
        margin-bottom: 40px;
    }

    #contact{
        height: 1030px;
    }

    .main-box {
        width: 100%;
        margin-bottom: 30px;
    }

    .map-box{
        height: 250px;
        margin-top: 40px;
    }

    .contact-box{
        padding: 25px;
        bottom: -530px;
    }

    .box-left{
        width: 100%;
    }

    .box-right{
        width: 100%;
        margin-top: 30px;
    }

    .paragraph{
        margin: 20px 0;
    }

    .address{
        margin: 0;
    }

    .address li{
        font-size: 15px;
    }

    .address li i{
        font-size: 18px;
    }

    .search-box{
        margin-top: 20px;
    }

    #footer{
        padding-top: 45px;
    }

    .footer-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding-bottom: 30px;
    }

    ul.list {
        margin-top: 18px;
        margin-bottom: 0;
    }

    ul.list li{
        font-size: 14px;
    }

    .copyright p {
        padding: 20px 0;
    }
}